@import url("https://fonts.googleapis.com/css?family=Marvel:400,700|Raleway|Open+Sans");
html {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
}
body {
    font-family: "Raleway";
    margin: 0;
}
.clearfix {
    overflow: auto;
}

.clear {
    clear: both;
    line-height: 0;
}
h2 {
    margin: auto;
}

ul {
    /* list-style-type: none; */
    width: 100%;
    margin: 0;
    padding: 0;
}

.selected {
    background-color: #3c763d;
}

p {
    margin: auto;
    padding-left: 5px;
}

#container {
/*    display: flex;
    flex-flow: nowrap; */
    width: 100%;
    height: 100%;
}

header {
    background-color: #b31e00;
    color: white;
    font-weight: 900;
    border-bottom: 1px solid #000;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 5em;
}
.stacked {
    position: relative;
    width: 100%;
}

.header-brand {
    width: 100%;
    position: absolute;
}
#brand {
    float: left;
    width: 50%;
    padding: 10px;
    font-size: 3vw;
}

.menu-icon {
    font-size: 5vw;
    color: #ffffff;
    cursor: pointer;
    margin: 0 1em;
    /* border: solid 1px #f8f8ff; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1;
    float: right;
    display: block;
    top: 0;
}
.weather-one-day {
    width: 25%;
    float: left;
}
.weather-icon {
    font-size: 5vw;
    width: 25%;
    color: #ffffff;
    cursor: pointer;
    float: left;
    /* position: relative; */
    margin: auto;
    /* border: solid 1px #f8f8ff; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1;
}

.weather-one-day img {
    width: 2em;
    float: left;
}

.weather-details {
    font-size: 2vw;
    color: black;
}

.search-box,.close-icon,.searchBar {
    position: relative;
}
.searchBar {
    color: #000;
    margin-top: 3.5em;
    width: 100%;
    z-index: 5;
}
.search-box {
    border: 1px solid #ccc;
    outline: 0;
    width: 98%;
}
.search-box:focus {
    border: 2px solid #bebede;
    box-shadow: 0 0 15px 5px #b0e0ee;
}
.close-icon {
    background-color: transparent;
    border:1px solid transparent;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    vertical-align: middle;
}

.close-icon:after {
    background-color: #FA9595;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 0 2px #E50F0F;
    color: white;
    content: "X";
    cursor: pointer;
    display: block;
    font-size: 10px;
    font-weight: normal;
    height: 10px;
    margin: auto;
    padding: 2px;
    position: absolute;
    right: 25px;
    text-align: center;
    top: 0;
    width: 10px;
    z-index: 60;
}

.search-box:not(:valid) ~ .close-icon {
    display: none;
}

main {
    height: calc( 95% - 50px);
    left: 0;
    position: absolute;
    top: 5em;
    width: 100%;
}

#left-sidebar {
    float: left;
    height: 100%;
    z-index: 10;
    position: relative;
    background-color: #b31e00;
    overflow-y: auto;
}

#cooperstown-list {
    width: 100%;
}

.cooperstown-list-label {
    background-color: #fff;
    margin: 0;
    padding: 5px 0 5px 0;
}

/*.markers-container {
    position: relative;
}
*/
/*#filter-markers {*/
    /*width: 100% !important;*/
/*}*/

.ctown_ul_li {
    padding: 5px;
    display: block;
    width: 100%;
    border: 1px outset #0000AA;
}

.ctown_ul_li_name {
    color: wheat;
}

.ctown_ul_li_name a {
    color: wheat;
}
.searchBar_inline {
    display: inline-block;
}

.ctown_ul_li_distance {
    font-size: 0.8vw;
}

.searchBar_ul_li_duration {
    font-size: 1vw;
}

.wrapper-map {
    position: absolute;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}
.map-load-error {
    position: absolute;
    top: 5em;
    left: 20em;
}

.infobox-container {
    position: absolute;
    max-height: 320px;
    max-width: 320px;
    width: 90%;
    height: 320px;

    z-index: 10;
}

.place-image {
    padding: 2px;
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
}
#detail-info {
    overflow-y: scroll;
    max-height: 320px;
    max-width: 320px;
}

footer {
    z-index: 100;
    /* left: 10px; */
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    border-top: 1px solid #ccc;
    font-size: 10px;
    background-color: white;
}

footer span {
    float: right;
    font-style: italic;
}

#weather {
    z-index: 100;
    position: absolute;
    margin: auto;
    max-width: 350px;
}

.weather-day {
    /* float: left; */
    padding: 0 10px 5px 10px;
    /*float: left; */
    background: #b31e00;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    margin: auto;
}
.weather-day img {
    /* float: left; */
    clear: both;
    display: block;
}

.weather-date {
    font-weight: 900;

}
.weather-temp {
    /* float: left; */

}
.weather-desc {

}



@media screen and (max-width: 400px) {


    .left-sidebar-visible {
        -webkit-transition: width 400ms ease-in-out;
        -moz-transition: width 400ms ease-in-out;
        -o-transition: width 400ms ease-in-out;
        transition: width 400ms ease-in-out;
        width: 350px;
    }

    .left-sidebar-removed {
        -webkit-transition: width 400ms ease-in-out;
        -moz-transition: width 400ms ease-in-out;
        -o-transition: width 400ms ease-in-out;
        transition: width 400ms ease-in-out;
        width: 0;
    }

    .weather-visible {
        -webkit-transition: width 400ms ease-in-out;
        -moz-transition: width 400ms ease-in-out;
        -o-transition: width 400ms ease-in-out;
        transition: width 400ms ease-in-out;
        display: block;
        width: 125px;
    }

    .weather-removed {
        -webkit-transition: width 400ms ease-in-out;
        -moz-transition: width 400ms ease-in-out;
        -o-transition: width 400ms ease-in-out;
        transition: width 400ms ease-in-out;
        display: none;
        width: 0;
    }

}

@media screen and (min-width: 400px) {
    header {

    }
    #brand {
        font-size: 2vw;
    }

    .menu-icon {
        font-size: 3vw;
        width: 40px;
        /* position: relative; */
        margin: auto 5px;
        /* padding: 5px; */
    }

    .weather-one-day img{
        font-size: 2vw;
    }
    .weather-date {
        font-size: 2vw;
    }
    .weather-details {
        font-size: 1vw;
    }

    .left-sidebar-visible {
        -webkit-transition: width 400ms ease-in-out;
        -moz-transition: width 400ms ease-in-out;
        -o-transition: width 400ms ease-in-out;
        transition: width 400ms ease-in-out;
        width: 350px;
    }

    .left-sidebar-removed {
        -webkit-transition: width 400ms ease-in-out;
        -moz-transition: width 400ms ease-in-out;
        -o-transition: width 400ms ease-in-out;
        transition: width 400ms ease-in-out;
        width: 0;
    }


    .weather-visible {
        -webkit-transition: width 400ms ease-in-out;
        -moz-transition: width 400ms ease-in-out;
        -o-transition: width 400ms ease-in-out;
        transition: width 400ms ease-in-out;
        display: block;
        width: 125px;
    }

    .weather-removed {
        -webkit-transition: width 400ms ease-in-out;
        -moz-transition: width 400ms ease-in-out;
        -o-transition: width 400ms ease-in-out;
        transition: width 400ms ease-in-out;
        display: none;
        width: 0;
    }

    #left-sidebar {
        float: left;
        height: 100%;
        z-index: 10;
        position: relative;
        background-color: #b31e00;
        overflow-y: auto;
        display: block;
    }

    #weather {
        z-index: 100;
        position: absolute;
        margin: auto;
    }


    footer {
        font-size: 14px;
    }

    .infobox-container {
        position: absolute;
        max-width: 420px;
        max-height: 420px;
        width: 90%;
        z-index: 50;
    }

}
